# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Provisioning Profiles
*.mobileprovision

# Certificates
*.p12

# Keystore
*.jks

# User-specific Xcode workspace settings
**/xcuserdata/

# Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

# Exclude specific workspace configurations
# Uncomment the line below if using a dependency manager like CocoaPods
#project.xcworkspace/
**/project.xcworkspace/xcuserdata/

# Include shared Xcode scheme files
# xcshareddata/xcschemes/* (uncomment this line if you decide to exclude)

# Exclude user-specific Xcode schemes
xcuserdata/**/*.xcuserdatad/xcschemes/
